<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="./assets/layout.css">
    <title>Assignment - Abdulali Gasimov</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body>
	<div id="data">
		<div class="container">
			<span>Control points</span>
			<div id="CP1">First: (-)</div>
			<div id="CP2">Second: (-)</div>
			<div id="CP3">Third: (-)</div>
		</div>
		<div class="container">
			<span>Yellow circle</span>
			<div id="CAR">Area: 0 square px</div>
		</div>
		<div class="container">
			<span>Blue parallelogram</span>
			<div id="PAR">Area: 0 square px</div>
		</div>
	</div>
	<div id="menu">
		<button id="reset">Reset</button>
		<button id="about">About</button>
	</div>
	<div id="dialog">
		<p>1. Select three arbitrary points by clicking three times on the screen</p>
		<p>2. Move the points around and watch how parallelogram and circle plays along nicely!</p>
		<br>
		<p>You can play with the browser's zoom level, everything will still be correct!</p>
		<p>Click the 'reset' button to start all over again.</p>
		<br>
		<p>assignment by Abdulali Gasimov</p>
		<p>you can find out more about me on my personal website:</p>
		<br>
		<p>www.singlebit.org</p>
	</div>
</body>

</html>
