<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="./assets/layout.css">
    <title>Assignment - Abdulali Gasimov</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body>
	<div id="data">
		<div class="container">
			<span>Control points</span>
			<div id="CP1">First: (0, 0)</div>
			<div id="CP2">Second: (0, 0)</div>
			<div id="CP3">Third: (0, 0)</div>
		</div>
		<div class="container">
			<span>Yellow circle</span>
			<div id="CAR">Area: 0 square px</div>
		</div>
		<div class="container">
			<span>Blue parallelogram</span>
			<div id="PAR">Area: 0 square px</div>
		</div>
	</div>
</body>

</html>
